@import "_vars.scss";

.Decore {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}

.Decore_sm {
    display: none;
}

.Nav {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;

    img {
        height: 90px;
        width: 80px;
    }

    div {
        padding-top: 25px;

        a {
            margin-left: 60px;
        }

        a:first-child {
            padding-left: 0px;
        }

        .register {
            padding: 11px 14px 11px 14px;
            border: 1px solid black;
            border-radius: 5px;
        }
    }

}

.Welcome__content {
    margin-left: 315px;
    .tagline {
        color: #DF6951;
        font-size: 20px;
        font-weight: bold;
        padding-top: 80px;
    }

    .heading {
        font-size: 45px;
        font-weight: bold;
        width: 800px;
        color: #181E4B;
    }

    .desc {
        color: #5E6282;
        font-size: 16px;
        font-weight: 500;
        width: 605px;
        padding-bottom: 50px;
        line-height: 30px;
    }

    .button {
        padding: 19px 40px;
        margin-left: 150px;

        border-radius: 10px;
        background: #43DBC9;
        box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
    }
}

.Category {
    padding-top: 100px;
    padding-bottom: 200px;

    .category {
        color: #5E6282;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    .best_category {
        color: #14183E;
        text-align: center;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .Category__card {
        display: flex;
        padding-top: 100px;
        justify-content: space-around;
    }
    
    .card {
        width: 181px;
        height: 227px;
        border-radius: 36px;
        transition: all 500ms ease;
        cursor: pointer;

        .title {
            color: #1E1D4C;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        .desc {
            width: 181px;
            height: 78px;
            color: #5E6282;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
        }

        .image {
            width: 92px;
            height: 78px;
            margin-left: 48px;
        }
    }
    .card:hover {
        transform: scale(1.2);
        box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00),
         0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
          0px 20px 13px 0px rgba(0, 0, 0, 0.01),
           0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01),
            0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
             0px 100px 80px 0px rgba(0, 0, 0, 0.02);
    }
    .card:hover:first-child, .card:hover:last-child {
        transform: scale(1);
        box-shadow: none;
    }
    .card:first-child, .card:last-child {
        cursor: default;
    }
}

.Destinations {
    .category {
        color: #5E6282;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .Heading {
        color: #14183E;
        text-align: center;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .destination {
        display: flex;
        justify-content: center;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
        padding-top: 50px;
        padding-bottom: 200px;

        .card {
            width: 289px;
            height: 457px;
            transition: all 500ms ease;
            cursor: pointer;

            p {
                color: #5E6282;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 124.5%;

                margin-top: -110px;
                margin-left: 15px;

                position: relative;
            }

            .block {
                width: 289px;
                height: 132px;
                border-radius: 0px 0px 24px 24px;
                background: #fff;
                position: relative;

                margin-top: -135px;
            }
        }
        .card:hover {
            transform: scale(1.1);
        }
    }
}

.Feedback {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;

    .Subheading {
        color: #5E6282;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }
    .Heading {
        color: #14183E;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .block {
        width: 504px;
        height: 290px;
        border-radius: 10px;
        // border: 1px solid red;  //для проверок
        box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00),
         0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
          0px 20px 13px 0px rgba(0, 0, 0, 0.01),
           0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01),
            0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
             0px 100px 80px 0px rgba(0, 0, 0, 0.02);

        .desc {
            width: 464px;
            color: #5E6282;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 27px;
            padding: 30px 35px;
        }

        .name {
            color: #5E6282;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-top: -20px;
            margin-left: 34px;
        }

        .info {
            color: #5E6282;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-left: 35px;
        } 
        
    }

    .image {
        margin-left: -25px;
        margin-bottom: -40px;
    }
}

.Footer {
    background: #F1F1F1;
    bottom: 0;
    left: 0;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        display: flex;
        justify-content: center;


        .company {

            padding-right: 90px;
            .NameCompany {
                color: #181E4B;
                font-size: 44px;
                font-style: normal;
                font-weight: 500;
                line-height: normal; 
                padding-bottom: 30px;
            }
            
            .desc {
                color: #5E6282;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: 124.5%;
                width: 175px;
                height: 48px;
            }
    }

        .navCol {
            display: flex;
            padding-top: 10px;
            .nav {
                display: flex;
                flex-direction: column;
                padding-right: 90px;

                .title {
                    color: #080809;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 124.5%;
                    padding-bottom: 10px;
                }

                .button {
                    padding: 10px;
                    color: #5E6282;
                }
            }
        }
    }

    
}

@include computer1440 {
    .Welcome__content {
        margin-left: 220px;
    }
}

@include computer950 {
    .Welcome__content {
        margin-left: 80px;

        .heading {
            width: 400px;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 35px;
        }

        .button {
            margin-left: 0;
        }
    }
}

@include table {
    .Destinations {
        .destination {
            .card {
                width: 140px;
                height: 247.295px;

                img {
                    width: 140px;
                    height: 247.295px;
                }
                .block {
                    width: 140px;
                    height: 71.429px;
                    margin-top: -60px;
                }
                p {
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 124.5%;
                    margin-top: -68px;
                    margin-left: 2px;
                }
            }
        }
    }
    .Welcome__content {
        margin-left: 80px;

        .heading {
            width: 400px;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 35px;
        }

        .button {
            margin-left: 0;
        }
    }

    .Feedback {
        .desc {
            .Heading {
                width: 304px;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
        .content {
            .block {
                width: 334px;
                height: 250px;

                .desc {
                    width: 350px;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 25px;
                }
            }
        }
        
    }
}

@include mobile {
    .Decore {
        display: none;
    }

    .Decore_sm {
        display: flex;
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
    }
    .Nav {
        div {
            a {
                margin-left: 10px;
                font-size: 12px;
            }

            .register {
                padding: 5px 5px;
                font-size: 12px;
            }
        }
    }

    .Welcome__content {
        margin-left: 50px;
        .tagline {
            font-size: 12px;
        }
        .heading {
            width: 350px;
            font-size: 24px;
        }

        .desc {
            width: 390px;
            height: 200px;
            font-size: 12px;
        }
    }

    .Category {
        .Category__card {
            .card {
                width: 85px;
                height: 110px;

                img {
                    width: 39px;
                    height: 31.7px;
                    margin-left: 24px;
                }

                .title {
                    font-size: 8px;
                    padding-bottom: 8px;
                }

                .desc {
                    font-size: 7px;
                    line-height: 12px;
                    width: 80px;
                }
            }

            .card:hover {
                border-radius: 15px;
            }

            .card:first-child, .card:last-child {
                display: none;
            }

        }
    }

    .Feedback {
        .desc {
            .Subheading {
                width: 62.715px;
                height: 21px;
                font-size: 10px;
            }

            .Heading {
                width: 144.469px;
                height: 15px;
                font-size: 12px;
            }
        }
        .content {
            img {
                width: 48.156px;
                height: 45.098px;
            }
            .block {
                width: 247px;
                height: 200px;

                .desc {
                    font-size: 8px;
                    width: 266px;
                    height: 171px;
                    line-height: 16px;
                }

                .name {
                    font-size: 12px;
                }

                .info {
                    font-size: 12px;
                    margin-left: 34px;
                }
            }
        }
    }

    .Footer {
        .content {
            .company {
                .NameCompany {
                    font-size: 19px;
                    font-weight: 700;        
                }
                .desc {
                    width: 47.515px;
                    height: 50.101px;
                    font-size: 8px;
                }
            }
           .navCol {
            .nav {
                .title {
                    font-size: 15px;
                }
                .button {
                    font-size: 10px;
                }
            }
            .nav:last-child {
                padding-right: 0;
            }
        } 
        }
        
    }
}

@include smallMobile {
    .Welcome__content {
        margin-left: 0;
    }
}